extends layout

block content
    h1= title
    p
        form#insertForm
            p
                span email:&nbsp;
                input#email(type="email", placeholder="email", name="email") 
            p
                span password:&nbsp;
                input#password(type="password", placeholder="password", name="password") 
        a#insert(href="#") add
    p#error  

    script(src='/javascripts/ajax_gateway.js')
    script.
        $(document).ready(function () {
            ajax_gateway = new AjaxGateway('/users/', '/administrator');
            $("#insert").click(function () {
                event.preventDefault();
                ajax_gateway.insert({ 
                    email: $('#email').val(),
                    password: $('#password').val()
                });
            });
        });
  