extends layout

block content
    h1= title
    p
        form#insertForm
        p
            span dojo:&nbsp
            select#dojo(name='dojo')
                each dojo, i in dojos
                    - var select=null; if (i == 0) select='selected';
                    option(value=dojo._id, selected=select)=dojo.name
         p
            span password:&nbsp;
            input#password(type="text", placeholder="password", name="password") 
       a#insert(href="/champion") add
    p#error  

    script(src='/javascripts/ajax_gateway.js')
    script.
        $(document).ready(function () {
            ajax_gateway = new AjaxGateway('/meetings/', '/champion');
            $("#insert").click(function () {
                event.preventDefault();
                ajax_gateway.insert({ 
                    dojo: $('#dojo').val(),
                    password: $('#password').val() 
                });
            });
        });