doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
  body
    block content
    script.
        //$(document).ready(function () {
        //    $('a').click(function () {
        //        event.preventDefault();
        //        window.location.replace($(this).attr('href'));
        //    });
        //});
